<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="StorageRoot" value="C:\YMaps\file\" />
    <add key="LiteDB" value="C:\Temp\YMaps.db" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <httpRuntime maxRequestLength="2097151" executionTimeout="360" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>